/* Add your css styles here */
#box {
    width: 300px;
    margin: 25px;
    border: 1px black;
}

#buttonListRoot {
    padding:10px;
    margin:auto;
    width : 350px;
    border:solid thin #060;
}
